body{
    background-color: darkkhaki;
    background-image: url('image1.jpg');
    background-attachment: fixed;
}

div{
    background-color: darkorange;
    width: 1000px;
    height: 500px;
    background-image: url('image2.jpg');
    background-repeat: no-repeat;
    /* background-position: right top;*/
    background-position-x: 50px;
    background-position-y: 50px;
}